altair 
attrs 
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
charset-normalizer 
click 
easyocr==1.7.2
filelock==3.16.1
fsspec==2024.10.0
gitdb 
GitPython 
idna 
imageio==2.36.0
Jinja2 
jsonschema 
jsonschema-specifications 
lazy_loader==0.4
markdown-it-py 
MarkupSafe 
mdurl 
mpmath==1.3.0
networkx==3.4.2
ninja==1.11.1.1
numexpr 
numpy 
opencv-python-headless==4.10.0.84
packaging 
pandas 
pillow 
protobuf==4.25.3
pyarrow 
pyclipper==1.3.0.post6
pydeck 
Pygments 
PySocks 
python-bidi==0.6.3
python-dateutil 
pytz 
PyYAML==6.0.2
referencing 
requests 
rich 
rpds-py 
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.1.0
shapely==2.0.6
six 
smmap 
streamlit 
sympy==1.13.1
tenacity 
tifffile==2024.9.20
toml 
toolz 
torch==2.5.1
torchvision==0.20.1
tornado 
typing_extensions 
tzdata 
urllib3 
wheel==0.44.0
